
body, html {margin:0;padding:0;height: 100%;}
body {background: #222;color: #fff;fill: #fff;}
section {margin: 0 auto;width: 50%;padding-top: 15em;}
section header {text-align: center;}
header h1{font: 100 5em Roboto;margin: 0;}
header p{font-family: sans-serif;color: #717171;margin: 0.5em;}
section header h1 .curl {color: #ff5252;}
section .app {  }
audio::-internal-media-controls-download-button {display:none;}
audio::-webkit-media-controls-enclosure {overflow:hidden;}
audio::-webkit-media-controls-panel {background:#222222; width: calc(100% + 30px); /* Adjust as needed */}

